Source: ros-groovy-geometry-experimental
Section: misc
Priority: extra
Maintainer: Tully Foote <tfoote@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), 
Homepage: http://www.ros.org/wiki/geometry_experimental
Standards-Version: 3.9.2

Package: ros-groovy-geometry-experimental
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-tf2-tools,ros-groovy-tf2-msgs,ros-groovy-tf2-ros,ros-groovy-tf2
Description: The second generation Transform Library in ros..
