Source: ros-jade-tf2-msgs
Section: misc
Priority: extra
Maintainer: Tully Foote <tfoote@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-jade-actionlib-msgs, ros-jade-catkin, ros-jade-geometry-msgs, ros-jade-message-generation
Homepage: http://www.ros.org/wiki/tf2_msgs
Standards-Version: 3.9.2

Package: ros-jade-tf2-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-actionlib-msgs, ros-jade-geometry-msgs, ros-jade-message-generation
Description: tf2_msgs
